*{
	box-sizing: border-box;
}

@font-face{
	font-family: "digital";
	src: url(digital.ttf);
}

body{
	margin: 0 auto;
	font-family: digital;
	background-color: white;
}

#clock{
	font-size: 200px;
	font-family: digital;
	width: 900px;
	margin: 200px;
	text-align: center;
}

